@import "vars";
@import "mixins";
@import "fonts";
@import "vendor/reset";

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: $white;

  font-family: Poppins, sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.2;
  color: $black;
}

a {
  text-decoration: none;
  color: $black;

  &:hover {
    color: $primary;
  }
}

button:focus {
  outline: $white auto 1px;
}

.section__title {
  font-family: Rubik;
  font-weight: bold;
  font-size: 4.2rem;

  @include breakpoint($sm-bp) {
    font-size: 4rem;
  }
}

.try-btn {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  grid-column-gap: 8px;
  justify-content: center;
  align-items: center;

  width: 276px;
  height: 60px;

  font-weight: 600;
  color: $white;

  background: $primary;
  border-radius: 4px;
  border: none;

  transition: background 0.1s linear;

  &:hover {
    background: $secondary;
  }
}

.try-arrow {
  width: 60px;
  height: 16px;
}

/* Vendors */

/* Blocks */

@import "blocks/page";
@import "blocks/container";
@import "blocks/header";
@import "blocks/intro";
@import "blocks/counter";
@import "blocks/opportunities";
@import "blocks/getting";
@import "blocks/banner";
@import "blocks/partners";
@import "blocks/contacts";
@import "blocks/footer";

.hide {
  display: none;
}

.show {
  display: block;
}
