@import "vars";
@import "mixins";
@import "fonts";
@import "vendor/reset";

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: $white;

  font-family: Lato, sans-serif;
  font-size: 16px;
  line-height: 1;
  color: $black;
}

a {
  text-decoration: none;
  color: $black;

  &:hover {
    text-decoration: underline;
  }
}

/* Vendors */

@import "vendor/slick";

/* Blocks */

@import "blocks/page";
@import "blocks/container";
@import "blocks/header";
@import "blocks/footer";
