.banner {
  padding: 88px 0;
  margin: 160px 0 95px;

  background: #4867ff url(/assets/images/banner/banner-bg.png) no-repeat right;

  @include breakpoint($xl-bp) {
    padding: 61px 0;
  }

  @include breakpoint($md-bp) {
    padding: 44px 0;
  }

  @include breakpoint($sm-bp) {
    padding: 74px 0;
  }

  &__inner {
    position: relative;

    display: grid;
    grid-template-columns: auto auto;
    align-items: center;

    color: $white;
  }

  &__suptitle {
    font-family: Rubik;
    font-size: 2.8rem;
    letter-spacing: 0.02em;

    margin-bottom: 4px;

    @include breakpoint($lg-bp) {
      font-size: 2.4rem;
    }

    @include breakpoint($sm-bp) {
      font-size: 1.8rem;
    }
  }

  &__title {
    font-family: Rubik;
    font-weight: bold;
    font-size: 7.4rem;
    letter-spacing: 0.03em;

    margin-bottom: 19px;

    @include breakpoint($lg-bp) {
      font-size: 6rem;
    }

    @include breakpoint($sm-bp) {
      font-size: 5.8rem;
    }
  }

  &__img {
    position: absolute;
    left: 55%;
    top: 30%;
    transform: translateY(-50%);
    z-index: 1;

    width: 100%;
    max-width: 520px;

    @include breakpoint($xl-bp) {
      max-width: 420px;
    }

    @include breakpoint(950px) {
      max-width: 150px;

      top: -135px;
      transform: none;
    }

    @include breakpoint(425px) {
      max-width: 120px;
    }
  }
}

.try-btn--banner {
  background: #4867ff;
  border: 1px solid $white;
}
