.contacts {
  padding: 100px 0;

  background-color: #fbfbfb;

  @include breakpoint(880px) {
    padding: 60px 0;
  }

  &__inner {
    display: grid;
    grid-template: auto / repeat(2, auto);
    grid-column-gap: 24px;

    @include breakpoint(880px) {
      grid-template: auto / auto;
      grid-row-gap: 25px;
    }
  }

  &__form {
    width: 100%;
    max-width: 776px;

    display: grid;

    grid-template:
      "text email" 65px
      "textarea textarea" auto
      "btn ." 60px / 1fr 1fr;
    grid-gap: 24px;

    @include breakpoint($sm-bp) {
      grid-template:
        "text" 65px
        "email" 56px
        "textarea" auto
        "btn" 60px / 1fr;
    }

    &-input {
      width: 100%;
    }

    & &-input,
    &-textarea {
      padding: 24px 20px;

      background: #edeeef;
      border: 1px solid #e3e5e6;
      border-radius: 4px;

      font-family: Poppins, sans-serif;
      font-size: 1.6rem;
      color: $black;
    }

    .input-wrapper label,
    .input-wrapper--textarea label {
      display: block;

      color: #808080;

      transform: translate(20px, -45px);
      transition: 0.5s;
    }

    .input-wrapper--textarea label {
      transform: translate(20px, -160px);
    }

    .input-wrapper input:focus + label,
    .input-wrapper input:valid + label {
      font-size: 1rem;

      transform: translate(20px, -65px);
    }

    .contacts__form-textarea:focus + label,
    .contacts__form-textarea:valid + label {
      font-size: 1rem;

      transform: translate(20px, -178px);
    }

    &-input--text {
      grid-area: text;
    }

    &-input--email {
      grid-area: email;
    }

    .textarea-wrapper {
      grid-area: textarea;

      position: relative;
    }

    &-textarea {
      width: 100%;

      margin-bottom: 12px;

      color: #808080;
    }

    &-note {
      grid-area: note;

      color: #808080;
      font-size: 1.4rem;
    }

    &-btn {
      grid-area: btn;

      width: 100%;
      max-width: 276px;

      background-color: $primary;
      border-radius: 4px;
      border: none;

      color: $white;
      font-weight: 600;

      padding: 18px 0;

      &:hover {
        background-color: $secondary;
      }
    }
  }

  .textarea-counter {
    position: absolute;
    right: 20px;
    bottom: 55px;
    z-index: 1;

    color: #b8b8b8;
  }
}
