.contacts {
  position: relative;

  padding: 100px 0;

  background-color: #fbfbfb;

  @include breakpoint(880px) {
    padding: 60px 0;
  }

  &__inner {
    display: grid;
    grid-template: auto / repeat(2, auto);
    grid-column-gap: 24px;

    @include breakpoint(880px) {
      grid-template: auto / auto;
      grid-row-gap: 25px;
    }
  }

  &__form {
    width: 100%;
    max-width: 776px;

    display: grid;

    grid-template:
      "text email" 65px
      "textarea textarea" auto
      "btn ." 60px / 1fr 1fr;
    grid-gap: 24px;

    @include breakpoint($sm-bp) {
      grid-template:
        "text" 65px
        "email" 56px
        "textarea" auto
        "btn" 60px / 1fr;
    }

    &-input {
      width: 100%;
    }

    & &-input,
    &-textarea {
      padding: 24px 20px;

      background: #edeeef;
      border: 1px solid #e3e5e6;
      border-radius: 4px;

      font-family: Poppins, sans-serif;
      font-size: 1.6rem;
      color: $black;
    }

    .input-wrapper label,
    .input-wrapper--textarea label {
      display: block;

      color: #808080;

      transform: translate(20px, -45px);
      transition: 0.5s;
    }

    .input-wrapper--textarea {
      position: relative;
    }

    .input-wrapper--textarea label {
      transform: translate(20px, -160px);
    }

    .input-wrapper input:focus + label,
    .input-wrapper input:valid + label {
      font-size: 1rem;

      transform: translate(20px, -65px);
    }

    .contacts__form-textarea:focus + label,
    .contacts__form-textarea:valid + label {
      font-size: 1rem;

      transform: translate(20px, -178px);
    }

    &-input--text {
      grid-area: text;
    }

    &-input--email {
      grid-area: email;
    }

    .textarea-wrapper {
      grid-area: textarea;
    }

    &-textarea {
      width: 100%;

      margin-bottom: 12px;

      color: #808080;
    }

    &-note {
      grid-area: note;

      color: #808080;
      font-size: 1.4rem;
    }

    &-btn {
      grid-area: btn;

      width: 100%;
      max-width: 276px;

      background-color: $primary;
      border-radius: 4px;
      border: none;

      color: $white;
      font-weight: 600;

      padding: 18px 0;

      &:hover {
        background-color: $secondary;
      }
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;

    opacity: 0;
    visibility: hidden;

    transition: all 0.5s linear;

    background: rgba($color: #000000, $alpha: 0.7)
      url(/assets/images/loading.gif) center / 50px no-repeat;
  }

  &._sending::after {
    opacity: 1;
    visibility: visible;
  }

  .textarea-counter {
    position: absolute;
    right: 20px;
    bottom: 45px;
    z-index: 1;

    color: #b8b8b8;
  }

  // success

  &__success {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;

    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 140px 0;

    background: $white;

    &-text {
      font-family: Rubik, sans-serif;
      font-weight: bold;
      font-size: 4.2rem;
      color: #343a40;
      text-align: center;

      margin: 40px 0;

      @include breakpoint($xl-bp) {
        font-size: 2.4rem;
      }
    }

    &-btn {
      width: 100%;
      max-width: 196px;
      height: 60px;

      color: $white;
      font-weight: 600;

      background: $primary;
      border: none;
      border-radius: 4px;

      &:hover {
        background: $secondary;
      }
    }
  }
}
