.intro {
  position: relative;

  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;

  background: url(/assets/images/intro/intro-bg.png) no-repeat;

  &__content {
    font-family: Rubik;

    margin-bottom: 6rem;
  }

  &__suptitle {
    font-weight: 300;
    font-size: 2.2rem;
    letter-spacing: 0.02em;

    margin-bottom: 10px;

    @include breakpoint($sm-bp) {
      font-size: 1.8rem;
    }
  }

  &__title {
    font-weight: bold;
    font-size: 7.4rem;
    letter-spacing: 0.03em;

    margin-bottom: 5px;

    @include breakpoint($sm-bp) {
      font-size: 5.8rem;
    }
  }

  &__subtitle {
    font-size: 2rem;
    letter-spacing: 0.01em;

    @include breakpoint($sm-bp) {
      font-size: 1.6rem;
    }
  }

  &__try {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    grid-column-gap: 24px;
    align-items: center;

    @include breakpoint($md-bp) {
      grid-template: repeat(2, auto) / auto;
      grid-row-gap: 12px;
    }

    &-text {
      position: relative;

      padding-left: 46px;

      &::before {
        content: "";
        width: 39px;
        height: 25px;

        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;

        background: url(/assets/images/intro/people-icon.svg) no-repeat center;
      }
    }
  }
}
