.opportunities {
  padding: 198px 0 100px;

  background: #fafafa;

  @include breakpoint(1060px) {
    padding-top: 385px;
  }

  &__inner {
    display: grid;
    grid: repeat(2, max-content) / repeat(3, minmax(auto, 376px));
    grid-gap: 66px 24px;
    align-items: start;
  }

  &__title {
    width: 100%;
    max-width: 300px;
  }

  &__item {
    position: relative;

    padding: 60px 20px 40px 40px;

    background: $white;
    box-shadow: 0px 0px 34px rgba(0, 0, 0, 0.1);
    border-radius: 4px;

    &-title {
      font-weight: bold;
      font-size: 1.8rem;
      line-height: 1.7;
      letter-spacing: 0.01em;

      margin-bottom: 0.5rem;
    }

    &-text {
      font-size: 1.4rem;
      line-height: 1.5;
    }

    &-title + &-text {
      margin-bottom: 2rem;
    }

    &-subtitle {
      font-weight: 600;
      font-size: 1.6rem;
      line-height: 1.5;

      margin-bottom: 0.5rem;
    }

    &-icon {
      display: flex;
      justify-content: center;
      align-items: center;

      width: 81px;
      height: 81px;

      position: absolute;
      left: 40px;
      top: -41px;
      z-index: 1;

      background: $white;
      box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
      border-radius: 4px;
    }
  }
}
