<footer class="footer">
    <div class="container">
        <div class="footer__inner">
            <p class="footer__agreement">
                <a class="footer__agreement-link" href="#">Пользовательское соглашение</a>
            </p>
            <p class="footer__copy">© 2021. Proton Trade. Created by <a href="#">DevMinrat</a></p>
            <p class="footer__email">
                <a href="mailto:info@proton-trade.ru" class="footer__email-link">info@proton-trade.ru</a>
            </p>
        </div>
    </div>
</footer>